<p id="notice"><%= notice %></p>

<p>
  <strong>Product family:</strong>
  <%= @family.product_family %>
</p>
 <% @family.products.each do |f| %>
  Product[<%= f.id %>]
  <%= f.product_name %> <br>
  <% end %>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
