<%= paginate @logs %>
<% unless @planet.logs.blank? %>
  <table>
  <thread>
  <tr>
  <th>Log id</th>
  <th>Alien  </th>
  <th>Product </th>
  <th>Created date</th>
  <th>Close date</th>
  <th>Stage</th>
  <th>Setup Charge</th>
  <th>Revenue Month</th>
  </tr>
  </thread>
  <tbody>
  <tr>
  <% @logs.each do |f| %>
<td> <%= f.id %> </td>
<td> <%= alien_show(f.alien_id) %> </td>
<td> <%= product_show(f.product_id) %></td>
<td> <%= f.created_date %></td> 
<td> <%= f.close_date %></td> 
<td> <%= f.stage %> </td>
<td> <%= f.setup_charge %> </td>
<td> <%= f.revenue_month %> </td>
</tr>
  <% end %>
  </tbody>
  </table>
  <% else %>
  No logs<br>
<% end %>