<p id="notice"><%= notice %></p>

<p>
  <strong>Planet name:</strong>
  <%= @planet.planet_name %>
</p>

<p>
  <strong>Galaxy:</strong>
  <%= show_galaxy(@planet.galaxy_id) %>
</p>

<%= render 'logs' %>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
