<center>
<h1>Home</h1>
<div class="menu">
<%= link_to 'Alien Categories' , categories_path %> ->
<%= link_to 'Aliens' , aliens_path %> <br>
<%= link_to 'Product Families' , families_path %> ->
<%= link_to 'Products' , products_path %> <br>
<%= link_to 'Galaxy' , galaxies_path %> ->
<%= link_to 'Planet' , planets_path %> <br>
<%= link_to "Logs", logs_path %>
</div>
</center>
<br><br>
