<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy name:</strong>
  <%= @galaxy.galaxy_name %>
</p>
  
  <% @galaxy.planet.each do |f| %>
 Planet[<%= f.id %>]
  <%= f.planet_name %> <br>
  <% end %>

<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>
