<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   <%= f.label :alien_id %>
   <%= f.text_field :alien_id %>
  </div>
  
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :planet_id %><br>
    <%= f.number_field :planet_id %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.text_field :stage %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= f.date_select :created_date %>
  </div>
  <div class="field">
    <%= f.label :close_date %><br>
    <%= f.date_select :close_date %>
  </div>
  <div class="field">
    <%= f.label :closed %><br>
    <%= f.check_box :closed %>
  </div>
  <div class="field">
    <%= f.label :setup_charge %><br>
    <%= f.text_field :setup_charge %>
  </div>
  <div class="field">
    <%= f.label :revenue_month %><br>
    <%= f.text_field :revenue_month %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
